.category-card{
    border: 1px solid #b5c0d0;
    border-radius: 30px;
    padding: 1.6rem;
    width: 200px;
    cursor: pointer;
    color: #b5c0d0;
}

.category-name{
    /* color: #b5c0d0; */
    text-transform: uppercase;
}

.category-card:hover{
    color: #344955ed;
    border: 1px solid #344955;
}

@media (width<1000px) {
    .category-card{
        width: 120px;
        padding: 10px;
        display: flex;
        justify-content: center;
        color: #000;
    }
}